@import './reset.scss';
@import './font-devtools.scss';

// Initial styles
html, body, #app-wrapper, #app {
  height : 100%;
  width : 100%;
  overflow : hidden;
}
html {
	font-size : 62.5%;
}
body {
	font-family : "proxima-nova", sans-serif;
	font-size : 1.4rem;
  color : #29292a;
}