@import './reset';
@import './font-devtools';

// Initial styles
html,
body,
#app-wrapper,
#app {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: #29292a;
	font-family: "proxima-nova", sans-serif;
  font-size: 1.4rem;
}
