@import './reset.scss';
@import './fonts/proxima-nova.scss';
@import './fonts/devtools.scss';

// Initial styles
html, body, #app-wrapper, #app {
  height : 100%;
  width : 100%;
  overflow : hidden;
}
html {
	font-size : 62.5%;
}
body {
	font-family : "Proxima Nova";
	font-size : 1.4rem;
  color : #29292a;
}